dummy/
copy-response-kpk-survey.xlsx
final/copy-2-response-kpk-survey.xlsx
final/copy-3-response-kpk-survey.xlsx
inspect_data.py
update_notebook.py
verify_aggregation.py
outlier/
outlier/backup.ipynb
outlier/Kriteria Informan Survey Persepsi Masayrakat terhadap Citra KPK 2025 (2).pdf
final/outlier-analysis.ipynb